- hosts: local
  connection: local
  vars_files:
    - ../group_vars/all.yml
  tasks:
    - name: Remove virtualenv (optional)
      file:
        path: "{{ venv_path }}"
        state: absent
      when: false
